/* Imports */
@import '~normalize.css';

/* Global Styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  margin: 16px auto;
  padding: 0 16px;
  max-width: 500px;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
}

.bottom-buttons button {
  margin: 8px 16px;
}

.bottom-loading {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}